<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/footer.css}">
    <link rel="stylesheet" th:href="@{/css/board/form.css}">
</head>
<body>
    <header>
        <div th:insert="~{layout/header :: header}"></div>
    </header>

    <div id="form-wrap">
        <h2>게시글 수정</h2>

        <form th:action="@{/board/update/{bno}( bno=${boardDTO.bno} )}" th:object="${boardDTO}" th:method="post">
            <input type="hidden" th:field="*{bno}">
            <div>
                <label for="title">제목:</label>
                <input type="text" id="title" th:field="*{title}" />
            </div>
            <div>
                <label for="address">주소:</label>
                <input type="text" id="address" th:field="*{address}" />
            </div>
            <div>
                <label for="size">평수:</label>
                <input type="text" id="size" th:field="*{size}" />
            </div>
            <div>
                <label for="price">가격:</label>
                <input type="text" id="price" th:field="*{price}" />
            </div>
            <div>
                <label for="content">내용:</label>
                <textarea id="content" th:field="*{content}"></textarea>
            </div>
            <div class="button">
                <button type="submit">수정</button>
                <a th:href="@{/board/detail/{bno}( bno=${boardDTO.bno}) }">취소</a>
            </div>
        </form>
    </div>
</body>
</html>