body {
    font-family: Arial, sans-serif;
}

header {
    margin-bottom: 20px;
}

#form-wrap {
    background-color: #dad3d366;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    width: 80%;
    margin: 0 auto;
}

#form-wrap h2 {
    background-color: #e2ddde;
    padding: 10px;
    margin-bottom: 40px;
    font-weight: bold;
    border-radius: 5px;
}

form {
    width: 80%;
}

form div {
    margin-bottom: 15px;
    text-align: left;
}

form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

form button,
form .button button,
form .button a{
    background-color: #6666;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
}

form button:hover {
    background-color: #45a049;
}

form a {
    display: inline-block;
    margin-top: 10px;
    color: #333;
    text-decoration: none;
}

form a:hover {
    text-decoration: underline;
}